/*CSS*/

body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;	
    padding: 20px;
    line-height: 1.6;
}


h1, h2 {
    color: #fff;
}


/* background, colors*/
.profile-pic {
    width: 200px;
    border-radius: 10px;
    display: block;
    margin-bottom: 20px;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}


th, td {
    border: 1px solid #fff;
    padding: 10px;
    text-align: left;
    color: #fff;
}


th {
    font-weight: bold;
    background-color: #333;
}



/* Tabs*/
.tabs {
    margin-top: 20px;
}

/* Tabs*/
.tabs a {
    display: inline-block;
    padding: 8px 15px;
    margin-right: 5px;
    background-color: #444;
    color: fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}



/*does not turn tab purple when visited*/
.tabs a:link,
.tabs a:visited,
.tabs a:active {
    color: #fff;
}


/*stops double spacing*/
.content-box {
    max-width: 900px;
    line-height: 1.6;
}

p {
    max-width: 900px;
}

/*for photo*/
.picture {
    width: 120px;
    border-radius: 10px;
    display: block;
    margin-bottom: 20px;
}
