body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    padding: 20px;
    line-height: 1.6;
}

h1, h2 {
    color: #333;
}

.profile-pic {
    width: 200px;
    border-radius: 10px;
    display: block;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #000;
    padding: 10px;
    text-align: left;
}

th {
    font-weight: bold;
    background-color: #ddd;
}





/* Tabs Navigation Bar */
.tabs {
    margin-top: 20px;
}

.tabs a {
    display: inline-block;
    padding: 8px 15px;
    margin-right: 5px;
    background-color: #b3b3b3;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.tabs a:hover {
    background-color: #999;
}

